@model List<Proje1Portfolio.Models.Work>
@{
    ViewBag.Title = "list";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Çalışmalarım</h2>

<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>Konu</th>
        <th>Açıklama</th>
        <th>resim</th>
        <th>github adresi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Workid</td>
            <td>@item.Title</td>
            <td>@item.Descripton</td>
            <td>@item.ImageUrl</td>
            <td>@item.GithubUrl</td>
            <td><a href="/work/Delate/@item.Workid" class="btn btn-danger">sil</a></td>
            <td><a href="/work/update/@item.Workid" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>
<td><a href="/work/create/" class="btn btn-success">yeni Çalışma ekle</a></td>


